body {
  background-color: #fbf3f0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4bc9e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 21px 21px;
}

.header__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 160px;
  justify-content: center;
}

.header__branding {
  display: inline-grid;
  grid-template-columns: auto auto;
  text-align: center;
  align-items: center;
}

.header__name {
  font-size: 3.5rem;
  margin: 20px;
  font-family: "Amatic SC", sans-serif;
  color: #000000;
}

.header__navigation {
  align-content: center;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 11px;
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
  font-weight: bold;
}

.menu__list li a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #333;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.menu__list li a:hover {
  background-color: #568d89;
  color: #fff;
}

.menu-toggle {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

#close__menu {
  display: none;
}

.menu.active {
  display: block;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #fbf3f0;
  padding: 20px;
  position: relative;
}

.link__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.link__list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.link__list li a {
  text-decoration: none;
  color: black;
}

.link__list li a img {
  width: 19px;
  height: auto;
  vertical-align: bottom;
}

.home__img {
  width: 40%;
  border-radius: 85%;
}

.about {
  background-color: #fdcbad;
  width: 100%;
  align-content: center;
}

.about__container {
  padding: 15px;
}

.skills__container__cards {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  place-items: center;
}

.skills__container h1 {
  color: #20262e;
  justify-self: center;
}

.skill__card {
  background-color: #26252c5e;
  height: 176px;
  width: 174px;
  border-radius: 3%;
  place-items: start;
  align-content: end;
  padding: 12px;
}

.skill__card img {
  width: 15%;
}

.hobbies__container__cards {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  place-items: center;
}

.hobbies__container h1 {
  color: #20262e;
  justify-self: center;
}

.hobbies__card {
  background-color: #26252c5e;
  height: 176px;
  width: 174px;
  border-radius: 3%;
  place-items: start;
  align-content: end;
  padding: 12px;
}

.hobbies__card img {
  width: 15%;
}

.experience {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  background-color: #fdcbad;
}

.project__decodificador__container {
  display: flex;
}

.experience__img__project {
  width: 70%;
  box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 37%);
  border-radius: 17px;
}

.experience__container {
  width: 100%;
  place-items: center;
  align-content: center;
}

.subtitle__experience {
  font-size: 1rem;
}

.repository__decodificador__button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #312a2a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.repository__decodificador__button:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

.repository__decodificador__button:active {
  position: relative;
  top: 1px;
}

.contact {
  padding: 40px;
  background-color: ##fbf3f0;
  text-align: center;
}

.contact h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 0 auto;
  background-color: #fdcbad;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

label {
  font-size: 1rem;
  color: #333;
}

input,
textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  height: 40px;
}

textarea {
  resize: none;
}

.submit-btn {
  background-color: #f4bc9e;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #e28a72;
}

.submit-btn:active {
  background-color: #d3745f;
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  .header__navigation {
    align-self: center;
    text-align: -webkit-center;
  }

  .menu {
    display: none;
  }
  .menu-toggle {
    display: block;
  }

  .menu.active {
    display: block;
    padding: 20px;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
  }

  .home__img {
    max-width: 40%;
  }

  .home__text__subtitle {
    font-size: 0.8em;
  }

  .skills__container__cards {
    display: flex;
    flex-direction: column;
  }

  .hobbies__container__cards {
    display: flex;
    flex-direction: column;
  }

  .project__decodificador__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 426px) {
  body {
    width: 100%;
  }

  .menu__list {
    flex-direction: column;
  }

  .home {
    flex-direction: column-reverse;
  }

  .link__list {
    padding: 0;
  }
}
